<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs", {title: "404 Not Found" }) %>

    <body>
        <%- include('./partials/nav.ejs')%>
            <h2>404 a page with url: <%= url %>. Please try a different page</h2>
    </body>

</html>